:root {
  --tabcount-suffix: ' tabs';

  --gutter-size: 3em;
  --border-radius: 0.25rem;
  
  --color-background: hsl(0deg 0% 95%);
  --color-text: hsl(222deg 22% 5% / 1);
  
  --background-input: #FFF;
  --color-input: hsl(240deg 1% 15%);
  --color-input-border: hsl(205deg, 14%, 68%);
  
  --outline-width: 1px;
  --box-shadow-color: rgba(16, 149, 193, 0.125);
  --box-shadow-input: 0 0 0 var(--outline-width) var(--box-shadow-color);
  
  --button-background: hsl(195deg, 85%, 41%);
  --button-color: #FFF;
  --button-spacing: .35rem .75rem;
  --button-border-color: hsl(195deg, 85%, 41%);
  --button-background-hover: hsl(195deg, 90%, 32%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
  line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 13px;
}

main {
  width: 600px;
  padding: 0.5em 1em;
  padding-left: 0;
}

.form-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: var(--gutter-size);
}

.form-controls button,
.form-controls label {
  margin: 10px 0;
}

label,
select,
button {
  user-select: none;
  cursor: pointer;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  text-align: center;
  outline: 0;
  border: var(--outline-width) solid var(--button-border-color);
  border-radius: var(--border-radius);
  padding: var(--button-spacing);
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
}

button.primary {
  background-color: var(--button-background);
  color: var(--button-color);
}

button.secondary {
  background-color: transparent;
  color: var(--color-text);
  border-color: var(--color-text);
}

button.primary:hover {
  background-color: var(--button-background-hover);
  border-color: var(--button-background-hover);
}

button.secondary:hover {
  background-color: var(--background-input);
}

button.primary:disabled {
  background-color: var(--button-background-hover);
  border-color: var(--button-background-hover);
}

button.secondary:disabled {
  color: var(--color-input);
  border-color: var(--color-input);
}

button.primary[disabled]:hover {
  background-color: var(--button-background-hover);
}

button.secondary[disabled]:hover {
  background-color: inherit;
  border-color: inherit;
}

#textarea-wrapper {
  height: 300px;
}

textarea {
  background-color: var(--background-input);
  color: var(--color-input);
  border: 1px solid var(--color-input-border);
  border-radius: var(--border-radius);
}

textarea:focus {
  box-shadow: var(--box-shadow-input);
}

#open {
  min-width: 8.5em;
}

#tabcount-label::after {
  content: var(--tabcount-suffix);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(240deg 1% 15%);
    --color-text: hsl(210deg 10% 90% / 1);
    --background-input: hsl(0deg 0% 12%);
    --color-input: hsl(0deg 0% 83%);
    --color-input-border: #374956;
  }
}
